%html
  %head
    %title
      It's Bingo Bitch
  %body
    %h2= "Welcome to Bingo!"
    %table
      %tr
        %td= @card.get_space(0)
        %td= @card.get_space(1)
        %td= @card.get_space(2)
        %td= @card.get_space(3)
        %td= @card.get_space(4)
      %tr
        %td= @card.get_space(5)
        %td= @card.get_space(6)
        %td= @card.get_space(7)
        %td= @card.get_space(8)
        %td= @card.get_space(9)
      %tr
        %td= @card.get_space(10)
        %td= @card.get_space(11)
        %td= @card.get_space(12)
        %td= @card.get_space(13)
        %td= @card.get_space(14)
      %tr
        %td= @card.get_space(15)
        %td= @card.get_space(16)
        %td= @card.get_space(17)
        %td= @card.get_space(18)
        %td= @card.get_space(19)
      %tr
        %td= @card.get_space(20)
        %td= @card.get_space(21)
        %td= @card.get_space(22)
        %td= @card.get_space(23)
        %td= @card.get_space(24)
